<p>
    Great to have you onboard!
</p>
<p>
    Hope you have an easy time mentoring everyone during the hackathon!
</p>
<p>
    Open this link on a big screen to have a real time progress bar for all
    teams during the event!
</p>
<a href="{{ hackatrack }}">{{ hackatrack }}</a>