<p>Invite participants and mentors using these access codes:</p>

<p><b>Mentors: </b> {{ mentor }}</p>
<p><b>Participants: </b> {{ participant }}</p>

<p>
    Also, open this link on a big screen to have a real time progress bar
    for all teams during the event!
</p>
<a href="{{ hackatrack }}">{{ hackatrack }}</a>